$color-black: #000000;
$color-white: #ffffff;

/* fifty shades of gray */
$color-alabaster: #f9f9f9;
$color-gainsboro: #dedede;
$color-celeste: #cecece;
$color-silver-chalice: #aeaeae;
$color-boulder: #787878;
$color-dove-gray: #6d6d6d;
$color-scarpa-flow: #555566;
$color-mine-shaft: #313131;
$color-charade: #2a2a34;
