@import "./common";

.container {
    @include container();
}

.row {
    @include row();
}

.column {
    display: inline-block;
    vertical-align: top;
    text-align: left;

    @include text();
}
